#play-table{
	width:100%;
	height:100%;
}

#play-table tr{
	height:4.75vh;
	position: relative;
	object-fit: contain;
}

#play-table td{
	width:4.75vh;
	position: relative;
	object-fit: contain;
}

table, td, tr{
	border: 1px solid black;
	margin: 0px;
	padding: 0px;
	border-collapse: collapse;
}

#container{
	height:95vh;
	width:95vh;
}

.piece-image{
	position: relative;
	left: 0px;
	top: 0px;
	width: 4.75vh;
	height: 4.75vh;
	object-fit: contain;
	margin: none;
	padding: none;
	border: none;
}

.move-info{
	position: absolute;
	top: -1.2vh;
	z-index: 2;
	width: 100%;
	height: 100%;
}

.drag-hint{
	position: absolute;
	top: -6px;
	left: -6px;
	z-index: 1;
	width: 100%;
	height: 100%;
	border: 6px solid black;
}

#util-area{
	position: absolute;
	left: 100vh;
	top:0;
}
