body {
  background: black;
}

div#game {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  grid-template-rows: 1fr auto auto 1fr;
  grid-template-areas:
    "info   opp-cap-pieces  reference"
    "info   board           reference"
    "status board           reference"
    "status your-cap-pieces reference";
  grid-column-gap: 10px;
  grid-row-gap: 10px;
}

div#info-pane {
  grid-area: info;
  background: white;
}

div#info-contents {
  
}

div#status-pane {
  grid-area: status;
  background: white;
}

div#status-contents {
  
}

div#opp-cap-pieces {
  grid-area: opp-cap-pieces;
  background: white;
}

div#ocp-table {
  width: 100%;
}

div#board {
  grid-area: board;
  background: ;
}

div#board-table {
  width: 100%;
}

td {
  width: 5%;
  height: 5%;
  border: 1px solid black;
  background: white;
}

/*td:hover {
  background: black;
}*/

div#your-cap-pieces {
  grid-area: your-cap-pieces;
  background: white;
}

div#ycp-table {

}

div#reference-pane {
  grid-area: reference;
  background: white;
}

div#reference-contents {

}

.highlight {
  background: grey;
}
